.answer {
  background-color: rgb(247, 75, 112);
  width: auto;
  font-size: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.correct {
  background-color: #46c746;
}

// mat-card {
//   max-width: 400px;
//   margin: 5px;
// }
