/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rebeccapurple;
  background-image: url("unicornbg.jpg");
  background-position: bottom;
}
.bgcolor {
  background-color: rebeccapurple;
}
.quiz-card {
  max-width: 400px;
  margin: auto;
  background-color: rebeccapurple;
  border: solid;
  border-color: deeppink;
  border-width: thick;
  margin-top: 75px;
}
.question-card {
  margin: auto;
  margin-top: 5%;
  max-width: 75%;
  opacity: 85%;
  background-color: rebeccapurple;
  border: solid;
  border-color: deeppink;
  border-width: thick;
}
.form-card {
  background-color: deeppink;
  margin-bottom: 5px;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .question-card {
    max-width: 85%;
  }
  .quiz-card {
    max-width: 85%;
    margin-top: 25px;
  }
}

@media all and (min-width: 1200px) {
  .question-card {
    max-width: 50%;
  }
  h2 {
    font-size: 34px;
  }
}
